body{
	background-color: rgb(33,33,33);
	color: white;
}
#main_container{
	margin: auto;
	height: 100%;
	width: 80%;
	text-align: center;
}
#name_logo{
	text-align: center;
}
#logo{
	height: 100px;
}
#name{
	font-family: 'Shrikhand', cursive;
}
#main{
	text-align: center;
}
#search_bar{
	height: 52px;
	width: 700px;
	border: 0px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}
input.placeholder{
	text-align: center;
}
#search_button{
	margin-top: 5px;
	margin-left: -5px;	
	height: 54px;
	width: 54px;
	border: 0px;
	border-radius: 3px;
	/*box-shadow: 0px 0px 10px rgba(0,0,0,0.9);*/
}
#search_result{

	border-radius: 3px;
	margin: auto;
	height: 50px;
	width: 750px;
	background-color: yellow;
	text-align: left;
}
#link{
	margin-top: 15px;
}
